.header {
    display: flex;
    align-items: center;
    background-color: rgb(200, 165, 233);
    padding-bottom: 20px;
    
}

.logo-search-wrapper {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px; /* Ajusta o tamanho da logo */
    height: auto;
    margin: 2px;
    padding: 0;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 10px; /* Ajuste para espaço entre logo e barra de pesquisa */
    left: 20px
}

.search-bar {
    width: 300px;
    padding: 10px;
    padding-right: 40px; /* Espaço para o ícone */
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 25px; /* Torna a barra mais arredondada */
}

.search-icon {
    position: absolute;
    right: 10px; /* Posição dentro da barra de pesquisa */
    width: 25px; /* Ajusta o tamanho do ícone */
    height: auto;
    border-radius: 25px;
}

.central-atendimento {
    display: flex;
    align-items: center;
    background: none; /* Remove fundo */
    border: none; /* Remove bordas */
    padding: 0;
    margin-left: 20px; /* Espaço entre a barra de pesquisa e o botão */
    font-size: 16px;
    cursor: pointer;
    padding-left:200px;
}

.central-atendimento span {
    margin-left: 5px; /* Espaço entre o ícone de conversa e o texto */
    font-size: 16px;
    color: #e6dddd; /* Cor do texto */
    font-family: monospace;
}

.conversa-icon, .seta-icon {
    width: 40px; /* Ajusta o tamanho dos ícones */
    height: auto;
    color: rgb(153, 148, 158);
}

.modelagem{


        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Faz o conteúdo ficar centralizado na tela */
        margin: 0;
        background-color: #f0f0f0; /* Cor de fundo suave */

    .nome {
        font-family: 'Poppins', sans-serif; /* Fonte escolhida */
        font-size: 60px; /* Tamanho da fonte */
        color: #8A2BE2; /* Cor roxa */
        text-align: center; /* Centraliza o texto */
        text-shadow: 2px 2px 4px rgba(238, 221, 221, 0.2); /* Sombra para um efeito elegante */
    }
}